

/* unvisited link */
a:link {
  color: #90caf9;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(132, 201, 132);
}

/* mouse over link */
a:hover {
  color: rgb(199, 141, 170);
}

/* selected link */
a:active {
  color: #90caf9;
}
